/*
* projectPage.module.css
*
* @author Anusree Mohan
* @version 1.0.0
*/

.projectBuilder {
    padding-top: 16px; 
}

.breadcrumb ol { 
    background-color: #fff !important; 
    padding:0px;  
}

.alignDropdown{
    padding:0px; 
}

.breadcrumbPaddding {
    padding-top: 25px;
}