/*
 * servicePage.module.css
 * 
 * @author Viji Prabha
 * @version 1.0.0
 */

 .serviceBuilder {
    margin: 0px 0px;
    padding-top:  16px;
}

.breadcrumb ol { 
    background-color: #fff !important; 
    padding-top:20px;  
}
